@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Automação de Fita | Login</title>
</head>
<body>
    <div id="container">
        <div id="img-login"></div>
        <div id="div-warp-container">
            <div id="login-warp">
                <form method="post" action="/Home/Cadastrar" onsubmit="return validateForm()">
                    <img src="/img/PrintVault-Principal.png" alt="Logo PritVault" width="120px" height="120px" />
                    <div class="row">
                        <div class="col-5 mr-1">
                            <label for="Nome">Nome</label>
                            <input type="text" id="Nome" name="Nome" required>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-5">
                            <label for="Sobrenome">Sobrenome</label>
                            <input type="text" id="Sobrenome" name="Sobrenome" required>
                        </div>
                    </div>
                    <br/>
                    
                    <div class="row">
                        <div class="col mr-1">
                            <label for="Username">Nome de Usuário</label>
                            <input type="text" id="Username" name="Username" required>
                        </div>
                        <div class="col">
                            <label for="Email">E-Mail</label>
                            <input type="Email" id="Email" name="Email" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col mr-1">
                            <label for="Password">Senha</label>
                            <input type="password" id="Password" name="Password" class="password-field" required>
                        </div>
                        <div class="col">
                            <label for="Password2">Confirmar senha</label>
                            <input type="password" id="Password2" name="Password2" class="password-field" required>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div>
                        <button type="submit">Cadastrar</button>
                    </div>
                    <div style="margin-top: 20px">
                        <a href="#" onclick="togglePasswordVisibility()">Exibir Senha</a>
                    </div>
                </form>
            </div>
            <div id="texto-login">
                <p class="text-dark" style="font-size:18px">
                    <span style="font-weight: bold; color:black;font-size:20px">Bem-vindo ao Sistema de Layouts de Impressão de Fitas.</span>
                    <br />
                    <br />
                    Este projeto visa facilitar a criação e personalização de layouts para impressões em fitas, atendendo às necessidades de diversos segmentos industriais e comerciais. Nossa plataforma oferece uma interface intuitiva, onde você pode criar, editar e salvar layouts com facilidade, garantindo que suas impressões estejam sempre alinhadas aos padrões desejados. Comece a explorar as funcionalidades e otimize seu processo de impressão de fitas com praticidade e eficiência.
                </p>
            </div>
        </div>
    </div>

    <script>
        function togglePasswordVisibility() {
            var passwordInputs = document.querySelectorAll('.password-field');
            passwordInputs.forEach(function (input) {
                if (input.type === "password") {
                    input.type = "text";
                } else {
                    input.type = "password";
                }
            });
        }

        function validateForm() {
            var nome = document.getElementById("Nome").value;
            var sobrenome = document.getElementById("Sobrenome").value;
            var username = document.getElementById("Username").value;
            var email = document.getElementById("Email").value;
            var password = document.getElementById("Password").value;
            var password2 = document.getElementById("Password2").value;

            if (nome === "" || sobrenome === "" || username === "" || email === "" || password === "" || password2 === "") {
                alert("Por favor, preencha todos os campos.");
                return false;
            }
            if (password != password2) {
                alert("Senhas não coecidem");
                return false;
            }

            return true;
        }
    </script>
</body>
</html>





